name: Release

on:
  push:
    branches:
      - main

concurrency: release

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm
          registry-url: https://registry.npmjs.org/

      - uses: pnpm/action-setup@v3

      - name: Install dependencies
        run: pnpm install

      - name: Version packages
        run: pnpm changeset version

      - name: Commit version bump
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"
          git add .
          git commit -m "chore: version packages" || echo "No changes to commit"

      - name: Build
        run: pnpm build

      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm changeset publish
